.navbar {
    width: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    position: sticky;
    top: 0;
    height: 100vh;
}

.navbarMain {
    flex: 1;
    margin-top: 30px;
}
