.root {
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding: 7px 5px;
    border-radius: var(--mantine-radius-md);
    transition:
        color 100ms ease,
        background-color 100ms ease,
        border-color 100ms ease;
    cursor: pointer;

    label {
        font-size: 11.5px !important;
    }
}
