@import "tailwindcss";

td,
th {
    text-align: center !important;
    max-width: 80px !important;
}

td > a {
    font-size: 12px !important;
    word-wrap: break-word;
}

/* body {
    background: url("./assets/bg.jpg");
} */
